<h3>{{ _('DHT22 Configuration') }}</h3>

<b>NOT WORKING YET!!!</b>

<form class="form-horizontal">
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.DHT22.debugging_enabled" /> {{ _('Debugging Enabled') }}
			</label>
		</div>
	</div>

	<h4>{{ _('Settings') }}</h4>

	<div class="control-group">
        <label class="control-label">{{ _('Pin Configuration') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.DHT22.pin_configuration">
        </div>
    </div>

</form>
