<form class="form-horizontal">
    <h3>{{ _('Configuration') }}</h3>
    <div class="control-group">
        <label class="control-label" for="htu31-addresses">{{ _('Sensors') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.HTU31.pin_configuration">
            <span class="help-block">{{ _('Format: "name:hex_address,name2:hex_address2"') }}</span>
            <span class="help-block">The name will be used as the graph legend.</span>
        </div>
    </div>


{#    <div class="control-group">#}
{#        <label class="control-label">{{ _('Pin Configuration') }}</label>#}
{#        <div class="controls">#}
{#            <input type="text" class="input-block-level" data-bind="value: settings.plugins.HTU31.pin_configuration">#}
{#        </div>#}
{#        <span class="help-block">{{ _('format: "name:hex_address,name2:hex_address2"') }}</span>#}
{#    </div>#}

</form>


{#    <div class="control-group">#}
{#        <label class="control-label" for="plotlysettings-temperatureCutoff">{{ _('Maximum Y Limit') }}</label>#}
{#        <div class="controls">#}
{#            <div class="input-append">#}
{#                <input type="number" min="0" class="input-mini text-right" data-bind="value: settings.plugins.plotlytempgraph.max_graph_height" id="plotlysettings-max_graph_height">#}
{#                <span class="add-on">degs</span>#}
{#            </div>#}
{#            <span class="help-block">{{ _('Set to 0 to autoscale the graph to reported temperatures.') }}</span>#}
{#        </div>#}
{#    </div>#}
{#    <h3>{{ _('Fine adjustments') }}</h3>#}
{#    <div class="control-group">#}
{#        <div class="controls">#}
{#            <label class="checkbox">#}
{#                <input type="checkbox" data-bind="checked: temperature_sendAutomatically"> {{ _('Send temperature fine adjustments automatically') }}#}
{#            </label>#}
{#            <span class="help-block">{{ _('Enable this to have temperature fine adjustments you do via the + or - button be sent to the printer automatically.') }}</span>#}
{#        </div>#}
{#    </div>#}
{#    <div class="control-group" data-bind="visible: temperature_sendAutomatically">#}
{#        <label class="control-label">{{ _('Sending delay') }}</label>#}
{#        <div class="controls">#}
{#            <div class="input-append">#}
{#                <input type="number" class="input-mini" min="0" max="30" data-bind="value: temperature_sendAutomaticallyAfter">#}
{#                <span class="add-on">sec</span>#}
{#            </div>#}
{#            <span class="help-block">{{ _('OctoPrint will use this delay to limit the number of sent temperature commands should you perform multiple fine adjustments in a short time.') }}</span>#}
{#        </div>#}
{#    </div>#}
{#</form>#}


{#<form class="form-horizontal">#}
{#    <h3>{{ _('HTU31 Configuration') }}</h3>#}
{#    <b>NOT WORKING YET!!!</b>#}
{#	<div class="control-group">#}
{#		<div class="controls">#}
{#			<label class="checkbox">#}
{#				<input type="checkbox" data-bind="checked: settings.plugins.HTU31.debugging_enabled" /> {{ _('Debugging Enabled') }}#}
{#			</label>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<h4>{{ _('Settings') }}</h4>#}
{##}
{#	<div class="control-group">#}
{#        <label class="control-label">{{ _('Pin Configuration') }}</label>#}
{#        <div class="controls">#}
{#            <input type="text" class="input-block-level" data-bind="value: settings.plugins.HTU31.pin_configuration">#}
{#        </div>#}
{#        <span class="help-block">{{ _('format: "name:hex_address,name2:hex_address2"') }}</span>#}
{#    </div>#}
{##}
{#</form>#}
